*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  --box-color: #454545;
  --text-color: #f1f1f1;
  --link-hover: #e2dddd;
  --input-border-color: rgba(255, 255, 255, 0.6);
  --title-properties: 500 1.8rem "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--text-color);
  font-size: 1.6rem;
}

header {
  background-color: var(--box-color);
  padding: 8px 0;
  display: grid;
  grid-template-columns: repeat(12, 7rem);
  justify-content: center;
  column-gap: 30px;
}

.header-container {
  grid-column: 1/13;
  margin-right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  font: var(--title-properties);
}

.header-container nav ul {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.header-container nav ul li {
  margin-right: 10px;
}

.header-container nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.header-container nav ul li a:hover {
  color: var(--link-hover);
}

main {
  margin-top: 5.6rem;
}

main .sections {
  display: grid;
  grid-template-columns: repeat(12, 7rem);
  justify-content: center;
  column-gap: 30px;
  row-gap: 52px;
}

main .sections section {
  background-color: var(--box-color);
  padding: 1.6rem 2.4rem;
  border-radius: 4px;
}

main .sections section:nth-of-type(1) {
  grid-column: 2/6;
  grid-row: 1/3;
}

main .sections section:nth-of-type(2) {
  grid-column: 6/10;
  display: flex;
  justify-content: space-between;
}

main .sections section:nth-of-type(3) {
  grid-column: 6/10;
}

/* section 1 */
.sections section .input-container:not(:last-child) {
  margin-bottom: 16px;
}

.sections section .input-container label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.sections section .input-container input,
.sections section .input-container textarea {
  width: 100%;
  height: 30px;
  padding: 8px 6px;
  color: var(--text-color);
  border: 1px solid var(--input-border-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: transparent;
}

.sections section .input-container textarea {
  height: 60px;
  max-height: 170px;
  resize: vertical;
}
